body {
    background-image: url(sourceimages/cardboardTexture.svg);
    background-size: auto;
    font-family: 'Oswald';
    margin: 0px;
}

header {
    background-color: antiquewhite;
    margin: 0px;
    height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
a:any-link {

    font-size: 32px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10%;
    padding: 10px;

}

.directory {
    display: flex;
    align-content: space-evenly;
    margin-right: 20px;
    padding: 20px;

}

.directory a {
    margin-right: 20px;
    min-width: 120px;
    align-content: center;
}

#activePage {
    color: white;
    background-color: black;
}

a:hover {
    color: white;
    background-color: black;
}

.helpbutton {
float: right;
margin: 20px;
min-width: 200px;
}


.metaphoricalButtons {
    justify-content: center;
    margin-top: 200px;
    margin-left: 30px;
    max-width: 100vw;
}
.metaphoricalButtons a:any-link{
    background-color: crimson;
    font-size: 48px;
    color: white;
    padding: 200px;
    
}

.metaphoricalButtons a:hover{
    background-color: maroon;
    color: gray;
}

.videoPlayer{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videoPlayer iframe {
    min-width: 100%;
    min-height: 90%;
    padding-top: 100px;
    width: auto;
    height: auto;
    
    
}

.noVideo {
    margin-top: 110px;
}
p {
    padding: 20px;
    font-size: 72px;
    text-align: center;
    margin-top: 55%;
}

footer {
    min-height: 100px;
    min-width: 100vw;
    background-color: black;
}

.weirdfooter {
    margin-top: 280px;
}

.weirderfooter {
    margin-top: 550px;
}